Repository casperboone/wdm-kafka-microservices, pull requests merged in 2019-06, with the labels that each got.

#58 Order checkout stock lock
  common/src/main/java/nl/tudelft/wdm/group1/common/StockItem.java
  end-to-end/src/test/java/nl/tudelft/wdm/group1/endtoend/EndToEndTest.java
  service/stock/src/main/java/nl/tudelft/wdm/group1/stock/events/Consumer.java
  service/stock/src/test/java/nl/tudelft/wdm/group1/stock/StockApplicationTest.java
  service/stock/src/test/java/nl/tudelft/wdm/group1/stock/StockConsumerMultiThreadTest.java
  service/stock/src/test/java/nl/tudelft/wdm/group1/stock/event/StockConsumerTest.java
Labels: stock

#61 Group requests by unique endpoints
  locust/locustfile.py
Labels: load-testing

#69 Use event for StockItemCreate->DB handling
  end-to-end/src/test/java/nl/tudelft/wdm/group1/endtoend/EndToEndBase.java
  end-to-end/src/test/java/nl/tudelft/wdm/group1/endtoend/EndToEndTest.java
  service/stock/src/main/java/nl/tudelft/wdm/group1/stock/events/Rest.java
Labels: enhancement, stock

#70 Add 'add credit' as a locust task
  locust/locustfile.py
Labels: load-testing

#67 Users topic partitioning
  common/src/main/java/nl/tudelft/wdm/group1/common/model/User.java
  common/src/main/java/nl/tudelft/wdm/group1/common/payload/UserCreatePayload.java
  common/src/main/java/nl/tudelft/wdm/group1/common/topic/RestTopics.java
  k8s/production/orders.yml
  k8s/production/payments.yml
  k8s/production/stock.yml
  k8s/production/users.yml
  service/payments/src/main/java/nl/tudelft/wdm/group1/payments/events/Producer.java
  service/rest/src/main/java/nl/tudelft/wdm/group1/rest/events/KafkaInteraction.java
  service/rest/src/main/java/nl/tudelft/wdm/group1/rest/web/UserController.java
  service/rest/src/test/java/nl/tudelft/wdm/group1/rest/RestAddUserTest.java
  service/rest/src/test/java/nl/tudelft/wdm/group1/rest/WdmKafkaTestHelpers.java
  service/users/src/main/java/nl/tudelft/wdm/group1/users/KafkaConfig.java
  service/users/src/main/java/nl/tudelft/wdm/group1/users/events/Consumer.java
  service/users/src/main/java/nl/tudelft/wdm/group1/users/events/PaymentConsumer.java
  service/users/src/main/java/nl/tudelft/wdm/group1/users/events/Producer.java
  service/users/src/main/java/nl/tudelft/wdm/group1/users/events/Rest.java
  service/users/src/test/java/nl/tudelft/wdm/group1/users/UsersApplicationTests.java
  service/users/src/test/java/nl/tudelft/wdm/group1/users/events/PaymentConsumerTest.java
Labels: enhancement, users
