Repository casperboone/wdm-kafka-microservices, pull requests merged in 2019-05, with the labels that each got.

#3 Disallow negative credit additions/subtractions
  users/src/main/java/nl/tudelft/wdm/group1/users/CreditChangeInvalidException.java
  users/src/main/java/nl/tudelft/wdm/group1/users/User.java
  users/src/main/java/nl/tudelft/wdm/group1/users/web/CreditController.java
  users/src/test/java/nl/tudelft/wdm/group1/users/UsersApplicationTests.java
Labels: users

#2 Make users events specific
  users/src/main/java/nl/tudelft/wdm/group1/users/events/Consumer.java
  users/src/main/java/nl/tudelft/wdm/group1/users/events/Producer.java
  users/src/main/java/nl/tudelft/wdm/group1/users/web/CreditController.java
  users/src/main/java/nl/tudelft/wdm/group1/users/web/UserController.java
  users/src/main/resources/application.yml
  users/src/test/java/nl/tudelft/wdm/group1/users/UsersApplicationTests.java
Labels: users

#9 Add end to end tests
  .gitignore
  .travis.yml
  build.gradle
  ci/build.sh
  ci/test.sh
  docker-compose.yml
  end-to-end/build.gradle
  end-to-end/src/test/java/nl/tudelft/wdm/group1/endToEnd/EndToEndTest.java
  settings.gradle
Labels: ops

#18 Make k8s pull from latest tag
  k8s/production/orders.yml
  k8s/production/payments.yml
  k8s/production/stock.yml
  k8s/production/users.yml
Labels: ops

#17 Implement health check for end-to-end & k8s
  ci/test.sh
  docker-compose.yml
  orders/src/main/java/nl/tudelft/wdm/group1/orders/web/IndexController.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/web/IndexController.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/web/IndexController.java
  users/src/main/java/nl/tudelft/wdm/group1/users/web/IndexController.java
Labels: ops

#11 Add functionality for orders
  orders/src/main/java/nl/tudelft/wdm/group1/orders/Order.java
  orders/src/main/java/nl/tudelft/wdm/group1/orders/events/Consumer.java
  orders/src/main/java/nl/tudelft/wdm/group1/orders/events/Producer.java
  orders/src/main/java/nl/tudelft/wdm/group1/orders/web/OrderController.java
  orders/src/main/resources/application.yml
  orders/src/test/java/nl/tudelft/wdm/group1/orders/OrdersApplicationTest.java
Labels: enhancement, orders

#19 Add stockItem implementation
  stock/src/main/java/nl/tudelft/wdm/group1/stock/InsufficientStockException.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/InvalidStockChangeException.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/StockItem.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/events/Consumer.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/events/Producer.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/web/StockController.java
  stock/src/test/java/nl/tudelft/wdm/group1/stock/StockApplicationTest.java
Labels: stock

#21 Improve end to end
  end-to-end/src/test/java/nl/tudelft/wdm/group1/endToEnd/EndToEndTest.java
  k8s/production/ingress.yml
Labels: ops

#22 Make price and name for stock
  stock/src/main/java/nl/tudelft/wdm/group1/stock/StockItem.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/web/StockController.java
  stock/src/test/java/nl/tudelft/wdm/group1/stock/StockApplicationTest.java
Labels: stock

#16 add payment api
  payments/src/main/java/nl/tudelft/wdm/group1/payments/Payment.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/PaymentRepository.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/events/Consumer.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/events/Producer.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/web/PaymentController.java
  payments/src/test/java/nl/tudelft/wdm/group1/payments/PaymentsApplicationTest.java
Labels: payments

#29 Split up build process.
  .travis.yml
  ci/build.sh
  ci/test.sh
Labels: ops

#33 Fix ingress for gke
  k8s/production/ingress.yml
Labels: ops

#32 Move models and exceptions to common module
  build.gradle
  common/build.gradle
  common/settings.gradle
  common/src/main/java/nl/tudelft/wdm/group1/common/CreditChangeInvalidException.java
  common/src/main/java/nl/tudelft/wdm/group1/common/InsufficientCreditException.java
  common/src/main/java/nl/tudelft/wdm/group1/common/InsufficientStockException.java
  common/src/main/java/nl/tudelft/wdm/group1/common/InvalidStockChangeException.java
  common/src/main/java/nl/tudelft/wdm/group1/common/Order.java
  common/src/main/java/nl/tudelft/wdm/group1/common/Payment.java
  common/src/main/java/nl/tudelft/wdm/group1/common/ResourceNotFoundException.java
  common/src/main/java/nl/tudelft/wdm/group1/common/StockItem.java
  common/src/main/java/nl/tudelft/wdm/group1/common/User.java
  orders/src/main/java/nl/tudelft/wdm/group1/orders/OrderRepository.java
  orders/src/main/java/nl/tudelft/wdm/group1/orders/events/Consumer.java
  orders/src/main/java/nl/tudelft/wdm/group1/orders/events/Producer.java
  orders/src/main/java/nl/tudelft/wdm/group1/orders/web/OrderController.java
  orders/src/test/java/nl/tudelft/wdm/group1/orders/OrdersApplicationTest.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/PaymentRepository.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/events/Consumer.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/events/Producer.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/web/PaymentController.java
  payments/src/test/java/nl/tudelft/wdm/group1/payments/PaymentsApplicationTest.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/InsufficientStockException.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/InvalidStockChangeException.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/ResourceNotFoundException.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/StockItemRepository.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/events/Consumer.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/events/Producer.java
  stock/src/main/java/nl/tudelft/wdm/group1/stock/web/StockController.java
  stock/src/test/java/nl/tudelft/wdm/group1/stock/StockApplicationTest.java
  users/src/main/java/nl/tudelft/wdm/group1/users/ResourceNotFoundException.java
  users/src/main/java/nl/tudelft/wdm/group1/users/UserRepository.java
  users/src/main/java/nl/tudelft/wdm/group1/users/events/Consumer.java
  users/src/main/java/nl/tudelft/wdm/group1/users/events/Producer.java
  users/src/main/java/nl/tudelft/wdm/group1/users/web/CreditController.java
  users/src/main/java/nl/tudelft/wdm/group1/users/web/UserController.java
  users/src/test/java/nl/tudelft/wdm/group1/users/UsersApplicationTests.java
Labels: common

#26 Add payment events (happy path)
  common/src/main/java/nl/tudelft/wdm/group1/common/Order.java
  common/src/main/java/nl/tudelft/wdm/group1/common/PaymentsTopics.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/events/Consumer.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/events/OrderConsumer.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/events/Producer.java
  payments/src/main/java/nl/tudelft/wdm/group1/payments/events/UserConsumer.java
  payments/src/test/java/nl/tudelft/wdm/group1/payments/events/ConsumerTest.java
Labels: enhancement, payments

#24 Listen to payment events and perform credit subtractions
  users/src/main/java/nl/tudelft/wdm/group1/users/events/PaymentConsumer.java
  users/src/main/java/nl/tudelft/wdm/group1/users/events/PaymentProducer.java
  users/src/test/java/nl/tudelft/wdm/group1/users/events/PaymentConsumerTest.java
Labels: enhancement, users

#25 Listen to order checkout events and launch stock / payment events
  common/src/main/java/nl/tudelft/wdm/group1/common/Order.java
  common/src/main/java/nl/tudelft/wdm/group1/common/OrdersTopics.java
  common/src/main/java/nl/tudelft/wdm/group1/common/StockTopics.java
  service/orders/src/main/java/nl/tudelft/wdm/group1/orders/events/Consumer.java
  service/orders/src/main/java/nl/tudelft/wdm/group1/orders/events/Producer.java
  service/orders/src/main/java/nl/tudelft/wdm/group1/orders/web/OrderController.java
  service/orders/src/test/java/nl/tudelft/wdm/group1/orders/events/ConsumerTest.java
Labels: enhancement, orders

#41 Add persistence for the stock service
  .gitignore
  common/build.gradle
  common/src/main/java/nl/tudelft/wdm/group1/common/StockItem.java
  service/build.gradle
  service/stock/src/main/java/nl/tudelft/wdm/group1/stock/StockApplication.java
  service/stock/src/main/java/nl/tudelft/wdm/group1/stock/StockItemRepository.java
  service/stock/src/main/java/nl/tudelft/wdm/group1/stock/events/Consumer.java
  service/stock/src/main/java/nl/tudelft/wdm/group1/stock/web/StockController.java
  service/stock/src/main/resources/application.yml
  service/stock/src/test/java/nl/tudelft/wdm/group1/stock/StockApplicationTest.java
  service/stock/src/test/java/nl/tudelft/wdm/group1/stock/event/StockConsumerTest.java
Labels: stock
